#content{
 max-width: 1600px;
 margin:0 auto;
}
nav a {
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: aqua;
}

body {
    background-color: #fbfcfe; 
}
header {
    background-color:rgba(107, 110, 105, 0.7);
}
nav a:hover {
    background-color: rgb(34, 29, 29);
}
.book{
    background-color: rgb(34, 29, 29);
}
.join{
    background-color: rgb(242, 241, 247);
}
.book:hover{
    background-color: rgb(4, 79, 117);
}
.join:hover{
    background-color: rgb(44, 45, 46);

}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}  
.msg{
    background-color: bisque;
}
footer{
    background-color: rgb(47, 45, 41);
}
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
}    