#background {
    height: 725px;
}

body {
    background-color: #585b98; 
}
header {
    background-color:rgba(107, 110, 105, 0.7);
}
nav a:hover {
    background-color: rgb(34, 29, 29);
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}  
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
}    